h1 {
    color: rgb(60, 150, 120);
    box-sizing: border-box;
    
}

ul {
    list-style-type:none;
    
}

li {
    border: rgb(30, 94, 62) 1px dotted;
    padding: 10px;
    background-color: rgb(149, 226, 181);
    width: 30%;
    margin: 10px;
    
}


