* {
    box-sizing: border-box;
    margin: 0;
}
body {
    text-align: center;
    color: rgb(42, 37, 51);
    border-width: 5px;
    border-color: rebeccapurple;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#h {
    color: orange;
    text-shadow: 2px 2px purple;
}

#messages {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    border: 2px black;
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(255, 0, 191); /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid orange; /* creates padding around scroll thumb */
}

#messages::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
  
#messages::-webkit-scrollbar-track {
    background: rgb(212, 122, 182); /* color of the tracking area */
}
  
#messages::-webkit-scrollbar-thumb {
    background-color: rgb(151, 74, 161); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid orange; /* creates padding around scroll thumb */
}

.btn {
    background-color: purple;
    color: pink;
}

#topbar {
    overflow: hidden;
    margin: auto;
}

#topbar button {
    float: left;
    height: 40px;
    text-align: center;
    border: solid white;
    border-radius: 5px;
    font-size: large;
}

form {
    margin: 15px;
    display: flex;
    justify-content: center;
}

form input {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: black;
    margin-bottom: -10px;
    display: inline-block;
}

#inputMessage {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: black;
    display: inline-block;
}

.btn:active {
    background-color: rgb(122, 122, 211);
}

.btn:hover {
    color: rgb(63, 8, 63);
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    
}

ul li {
    margin: 0 auto;
    background-color: rgb(122, 122, 211);
    text-align: left;
    border-radius: 0px 20px 20px 20px;
}

ul .myMessage {
    background-color: rgb(185, 105, 231);
    text-align: right;
    border-radius: 20px 0px 20px 20px;
}

/* responsive */
.row {
    width: 100%;
    overflow: hidden; /*prilagođava se visina najvećem elementu u njemu*/
}

[class*="col-"] {
    float: left;

}

/* za mobilne uređaje */
@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }

}

/* za tablet uređaje */
@media only screen and (min-width: 601px) and (max-width: 999px) {
    .col-t-1  {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%
    }

    .col-t-3 {
        width: 25%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100%;
    }
}

/* za desktop uređaje */
@media only screen and (min-width: 1000px) {
    .col-1  {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}