div {
    display: inline-block;
    width: 22%;
    height: 33%;
}

div h2 {
    text-align: center;
}

div img {
    width: 150px;
    height: 100px;
    display:block;
    margin:auto;
}

div p {
    padding: 15px 10px 0px 10px;
    text-align: center;
}

aside {
    float: none;
}

aside h1 {
    margin-bottom: 0px;
}
aside p {
    margin-top: 0px;
}

