h3 {
    color:green;
    text-decoration: line-through;
}
h1 {
    color: purple;
}
p{
    color: rgb(109, 40, 88);
}
#prvi {
    text-align: right;
    background-color: green;
}
.žuta_pozadina {
    background-color: yellow;
    text-align: left;
    font-weight: bold;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
}
/* * {
    margin: 50px;
} -oko svakog elementa dodaje marginu */